.header {
    display: none;
}

@media screen  and (max-width: 750px) {
    .header {
        display: flex;
        width: calc(100vw - 6px - 14px -14px);
        padding: 14px;
        background-color: #F0F0F0;
        border: 3px solid white;
    }
    .header.black {
        background-color: #1E1E1E;
        border: 3px solid black;
    }
}