.app {
  color: #1E1E1E;
  background-color: #ffffff;
}

.app-black {
  color: #ffffff;
  background-color: #1E1E1E;
}

.group-title {
  color: #696969;
}

.group-title-black {
  color: #c3c3c3;
}

.content-title {
  color: #0F0F0F;
}

.content-title-black {
  color: #F0F0F0;
}

.title {
  font-weight: 600;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  margin-left: auto;
}

.app .main-content {
  display: flex;
}