.app.theme-black {
  color: #ffffff;
  background-color: #1E1E1E;
}
.app.theme-light {
  color: #1E1E1E;
  background-color: #ffffff;
}

.group-title-light{
  color: #696969;
}
.group-title-black{
  color: #c3c3c3;
}
.content-title-light{
  color: #0F0F0F;
}
.content-title-black{
  color: #F0F0F0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right{
  margin-left: auto;
}
.app .main-content {
  display: flex;
}